/* Help.css */
@import url("./Global.css");

.profile-card {
    max-width: 600px;
    margin: auto;
}

.details-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.details-section label {
    font-size: 13px;
    color: var(--text-light);
    font-weight: 500;
}

.details-section button {
    align-self: flex-start;
}
